.venv/
.idea/
__pycache__/
*.pyc
*.pyo
*.pyd

.env

docker-compose.override.yml
*.log

*.terraform
*.terraform.*
*.tfstate
*.tfstate.*
terraform.tfvars
terraform/deploy_vpc/backend_vpc.tf
terraform/deploy_instances/backend_instances.tf